*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-right{
    margin-top: 60px;
    margin-left: 150px;
}
.nav-left{
    background-color: hsl(207, 33%, 95%);
    width: 600px;
    height: 350px;
    border-bottom-left-radius: 40px;
}
#pc-nav{
    list-style-type: none;
    margin-left: 130px;
    margin-top: 50px;
}
#pc-nav li{
    display: inline;
}
#pc-nav li a{
    padding: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: hsl(230, 29%, 20%);
    font-weight: bold;
}
#change{
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: hsl(231, 7%, 65%);
    font-weight: bold;
}
#btn{
    width: 5px;
    height: 5px;
    background-color: hsl(0, 100%, 68%);
    border: none;
    border-radius: 100%;
    margin-left: 15px;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.images img{
    position: absolute;
    left: 770px;
    top: 180px;
}
.text{
    margin-top: -100px;
}
.new{
    display: flex;
    margin-left: 150px;
}
span{
    background-color: hsl(230, 29%, 20%);
    padding: 5px 10px 5px 10px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
}
h1{
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    margin-left: 10px;
    margin-top: 5px;
    font-size: .8rem;
    color: hsl(231, 7%, 65%);
    font-weight: lighter;
}
h2{
    font-size: 3.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    width: 450px;
    font-weight: bolder;
    margin-left: 150px;
    margin-top: 10px;
    text-transform: uppercase;
    color: hsl(230, 29%, 20%);
}
p{
    margin-left: 150px;
    font-size: 1.2rem;
    color: hsl(231, 7%, 65%);
    width: 280px;
    margin-top: 20px;
}
.call-to-action{
    margin-top: 50px;
    display: flex;
}
h4{
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    color: hsl(231, 7%, 65%);
    letter-spacing: 2px;
    margin-top: 10px;
}
#butn{
    width: 170px;
    height: 40px;
    margin-left: 150px;
    border: none;
    background-color: hsl(0, 100%, 68%);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 5px;
}
.mobile-nav{
    display: none;
}
@media (max-width: 555px){
    .nav-left{
        display: none;
    }
    .nav-right{
        margin-left: 30px;
        margin-top: 30px;
    }
    .mobile-nav{
        display: block;
        background-color: hsl(207, 33%, 95%);
        width: 300px;
        height: 350px;
        border-bottom-left-radius: 40px;
    }
    .active{
        display: none;
    }
    .nav-mobi{
        display: block;
        background-color: #fff;
        height: 200px;
        width: 300px;
        box-shadow: 2px 2px 2px 2px grey;
        position: relative;
        z-index: 1000;
        margin-top: 80px;
        right: 30px;
        padding-top: 30px;
    }
    .nav-mobi ul{
        list-style-type: none;
    }
    .nav-mobi ul li{
        margin-bottom: 15px;
    }
    .nav-mobi ul li a{
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: hsl(230, 29%, 20%);
        font-weight: bold;
        padding-left: 110px;
    }
    hr{
        margin-left: 20px;
        margin-right: 20px;
    }
    #log{
        color: hsl(231, 7%, 65%);
    }
    #loo{
        margin-top: 20px;
    }
    .btn{
        background-image: url("images/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border: none;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    .btn-active{
        background-image: url("images/icon-close.svg");
        background-repeat: no-repeat;
    }
    .images img{
        left: 150px;
        width: 400px;
        height: 200px;
        margin-top: 50px;
        top: 40px;
    }
    .text{
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .new{
        margin-left: 50px;
        margin-top: 30px;
    }
    span{
        padding: 10px 15px 10px 15px;
    }
    h1{
        font-size: 1rem;
    }
    h2{
        margin-left: 30px;
    }
    p{
        margin-left: 30px;
    }
    #butn{
        margin-left: 30px;
    }
}